@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
    overflow: hidden;
    /* border: 1px black solid; */
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
}

img {
    max-width: 100%;
    height: 100%;
}

button{
    font-size: 18px;
    font-weight: bolder;
    padding: 5px 35px;
    border-radius: 8px;
    background-color: #3882f6;
    border-style: solid;
}

.hero-button {
    border-color: #3882f6;
    margin-top: 15px;
}

.button-border {
    border-color: #f9faf8;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.container-1,
.container-2,
.container-3,
.container-4 {
    width: 165vh;
}

.section-1, .section-5 {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    width: 100%;
}

.section-1{
    display: flex;
    justify-content: center;
}

.section-3 {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 100%;
}

.section-4 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-1{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.5vh;
    margin-bottom: 17vh;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav {
    display: flex;
    gap: 4vh;
}

.hero-card {
    display: flex;
    min-height: 40vh;
    margin-bottom: 18vh;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    padding-right: 8vh;
}

.hero-img{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-left: 9vh; 
}

.hero-text > h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

.img-card {
    min-height: 40vh;
    display: flex;
    padding-left: 15vh;
    padding-right: 15vh;
    margin-bottom: 15vh;
    
}

.img-cards {
    height: 25vh;
    border-radius: 15px;
    border: #3882f6 4px solid;
    margin-bottom: 1.5vh;
}

[class ^="card-"] {
    padding: 3vh;
    text-align: center;
    flex: 1;
}

.container-2 > h2 {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 6vh;
    color: #1f2937;
}

[class ^="card-"] > p {
    color: #1f2937;
}

.section-3 { 
    display: flex;
    justify-content: center;
}

.container-3{
    padding-left: 17vh;
    padding-right: 20vh;
    margin-top: 21vh;
    margin-bottom: 17vh;
}

figcaption{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bold;
    color: #1f2937;
    font-style:normal;
    padding-right: 6vh;
}

.container-4{
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-card {
    display: flex;
    gap: 28vh;
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 0 4vh;
}

.cta-text {
    font-size: 18px;
    color:#e5e7eb;
    
}

.cta-text > h3 {
    font-size: 24px;
    color: #f9faf8;
}

.cta-button {
    flex-shrink: 0;
}

.section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}